    <link rel="stylesheet" href="../main.css">
    {{#users}}

      <a href="/listing/{{id}}">

      <div class="profile">

        {{#avatar}}
      <img src="{{avatar}}" alt="{{name}}"/>
        {{/avatar}}
        {{^avatar}}
      <img src="https://robohash.org/avatar.png?size=150x150&set=set1" alt="{{name}}">
        {{/avatar}}


      <h3>{{name}}</h3>
      <p>{{address.country}}</p>


    <div>
      {{#job}}
      <p> {{company}}, {{job}}</p>
      {{/job}}
      {{^job}}
      <p id="noJob">Available for Hire</p>
      {{/job}}


    </div>

      </div>
      </a>


    {{/users}}
