
<form class="" action="/" method="post">
  <input type="text" name="username" placeholder="username">
  <br>
  <input type="password" name="password" placeholder="password">
  <br>
  <button type="submit" name="button">Login</button>
</form>



<a href="/signup">No Account? Sign up Here</a>
