
    {{#users}}




      <div class="profile">

      <img src="{{avatar}}" alt="{{name}}"/>


      <h3>{{name}}</h3>
      <a href="/listing/{{address.country}}">
      <p>{{address.country}}</p>
      </a>


    <div>
      {{#job}}
      <p> {{company}}, {{job}}</p>
      {{/job}}
      {{^job}}
      <p id="noJob">Available for Hire</p>
      {{/job}}
      <a href="/listing/{{id}}">
      <p>{{name}}'s Profile</p>
      </a>
    </div>

      </div>


    {{/users}}
