<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../main.css">
  </head>
  <body>


<div class="individualProfile">
  <a id="editP" href="/edit/{{id}}"><strong>Click to Edit Your Profile</strong></a>
          {{#avatar}}
        <img src="{{avatar}}" alt="{{name}}"/>
          {{/avatar}}
          {{^avatar}}
          <img    src="https://robohash.org/avatar.png?size=150x150&set=set1" alt="{{name}}">
          {{/avatar}}
      <h3>{{name}}</h3>


      {{#job}}
      <p> {{company}}</p>
      <p>{{job}}</p>
      {{/job}}
      {{^job}}
      <p id="noJob">Available for Hire</p>
      {{/job}}

      <p>{{address.country}}</p>

      <p>{{email}}, {{phone}}</p>

      {{#university}}
        <p>Education:{{university}}</p>
        <p>Skills: {{skills}}</p>
      {{/university}}
      {{^university}}
        <p>Skills: {{skills}}</p>
      {{/university}}

  </div>

</body>
</html>
