
<form class="" action="/signup" method="post">
  <p>Create a Username and Password</p>
  <input type="username" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <br>
  <p>Tell Us About Yourself</p>
  <input type="text" name="name" placeholder="name">
  <input type="email" name="email" placeholder="email">
  <input type="tel" name="phone" placeholder="phone number">

  <br>
  <p>Where are you Located?</p>
  <input type="number" name="street_num" placeholder="street number">
  <input type="text" name="street_name" placeholder="street name">
  <input type="text" name="city" placeholder="city">
  <input type="text" name="state_or_province" placeholder="state or province">
  <input type="text" name="postal_code" placeholder="postal code">
  <input type="text" name="country" placeholder="country">

  <br>
  <p>Tell Us About Your Professional Background</p>
  <input type="text" name="university" placeholder="university">
  <input type="text" name="job" placeholder="job">
  <input type="text" name="company" placeholder="company">
  <input type="text" name="skills" placeholder="skills">

  <br>
  <br>
  <input type="submit" name="submit" placeholder="submit">

</form>
